a {
    word-wrap: break-word;
}

.panel-child {
    display: none;

}

.panel-child > .panel-block {
    border-top-width: 0;
    padding-left: 50px;
}

.mpanel > .panel-heading {
    border: 0;
    /*border-bottom-color: red*/
}

.mpanel > .panel-heading, .panel-block {
    background-color: white;
    border: 0;

}

.mpanel > .panel-block {
    padding-left: 20px;
    padding-right: 20px;
}

.mpanel {

    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    border-radius: 6px;
    padding: 1px;

}

.aside_tag_a {
    margin-right: 10px;
    float: bottom;
}

.aside_tag_a:link {
    color: #363636
}

.aside_tag_a:visited {
    color: #363636
}

.aside_tag_a:hover {
    color: #ff4d3a
}

.aside_tag_a:active {
    color: #363636
}

.red_a:link {
    color: #363636
}

.red_a:visited {
    color: #363636
}

.red_a:hover {
    color: #ff4d3a
}

.red_a:active {
    color: #363636
}

.red_child_a:link {
    color: #777
}

.red_child_a:visited {
    color: #777
}

.red_child_a:hover {
    color: #ff4d3a
}

.red_child_a:active {
    color: #777
}

.aside_tag_a:last-child {
    margin-right: 0;
}

.border-bt-line {
    padding: 8px 8px 8px 8px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dashed #dbdbdb;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-scroll {
    padding-left: 50px;

}

.img_head {
    overflow: hidden;
}

.img_head p {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.img_head img {
    width: 100%;
    min-height: 100%;
    text-align: center;
}

.emoji_tabs {

    font-size: 21px;
    text-align: center;
    line-height: 25px;
}

.emoji_tabs > a {
    margin: 10px 5px 5px 5px;
    text-decoration: none;
}

.emoji_tabs + a {
    margin-top: 5px;
}

pre {
    background: #f0f0f0;
    tab-size: 4;
    overflow: auto;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.article-header {
    border-bottom: 1px solid #e8e8e8;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid #fff;
    background-color: #fdfdfd;
    position: relative;
}

.detail_article_box > * {
    padding: 20px;
}

.article_header_a:link {
    color: #696969
}

.article_header_a:visited {
    color: #696969
}

.article_header_a:hover {
    color: #ff4d3a
}

.article_header_a:active {
    color: #696969
}

.article_end {
    padding: 10px;

    font-size: 14px;
    border: 1px solid #ff4d3a;
    border-left-width: thick;
}

.footer a {
    color: #f5f5f5;
    border-bottom: dotted 1px #f5f5f5;

}

.footer a:hover {
    color: #f5f5f5;
    border-bottom: solid 1px #f5f5f5;

}

.footer strong {
    color: #f5f5f5;
}

.long_words {
    word-wrap: break-word;
    word-break: break-all;
}