<style>

</style>

<footer class="footer" style="background-color: #363636;color: #f5f5f5;">
    <div class="container">
        <div class="content has-text-centered">
            <p>{{ config.global_value.blog_name }}</p>
            <p>
                <strong>Powered by </strong><a href="https://github.com/gojuukaze/DeerU">DeerU</a>. The source code is licensed
                <a href="https://github.com/gojuukaze/DeerU/blob/master/LICENSE">GPL V3</a>
            </p>
        </div>
    </div>
</footer>