{% load static %}
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ config.global_value.title }}</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.7.0/css/bulma.min.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
{#<script defer src="{% static '/base_theme/js/fontawesome.js' %}"></script>#}
{#<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>#}
<script defer src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.1.0-11/js/all.js"></script>
<link href="{% static '/base_theme/css/base_theme.css' %}" type="text/css" media="all" rel="stylesheet"/>