{% load static %}
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ config.v2_blog_config.title }}</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/bulma/0.7.5/css/bulma.min.css">
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
{#<script defer src="{% static '/base_theme/js/fontawesome.js' %}"></script>#}
{#<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>#}
<script defer src="https://cdn.staticfile.org/font-awesome/5.11.2/js/all.min.js"></script>
<link href="{% static '/base_theme/css/base_theme.css' %}" type="text/css" media="all" rel="stylesheet"/>