<a id="mPassBut{{ obj.id }}" onclick="mPassBut{{ obj.id }}()" style="color: #79A7D8;cursor:pointer;">通过</a>
<a id="mFailBut{{ obj.id }}" onclick="mFailBut{{ obj.id }}()" style="color: #79A7D8;cursor:pointer;margin-left: 8px">不通过</a>

<script>
    function changeSelect(name) {
        let select = django.jQuery("#changelist-form").find("select");
        let i = 0;
        let temp = 0;
        for (let c of select.children()) {
            if (c.value === name) {
                temp = i;
            }
            c.selected = false;
            i++;
        }
        for (let c of django.jQuery(":checkbox.action-select")) {
            c.checked = false;
        }
        select.children()[temp].selected = true;
    }

    function mPassBut{{ obj.id }}() {

        changeSelect("make_pass");

        let checkbox = django.jQuery("#mPassBut{{ obj.id }}").parent().siblings()[0];
        checkbox.children[0].checked = true;
        django.jQuery("#changelist-form").find("button").trigger("click");
    }

    function mFailBut{{ obj.id }}() {
        changeSelect("make_fail");
        let checkbox = django.jQuery("#mFailBut{{ obj.id }}").parent().siblings()[0];
        checkbox.children[0].checked = true;
        django.jQuery("#changelist-form").find("button").trigger("click");
    }
</script>