<footer class="footer deeru-footer">
    <div class="container">
        <div class="content has-text-centered">
            {% include body_footer_begin_template %}
            <p>{{ config.v2_blog_config.blog_name }}</p>
            <p>
                <strong>Powered by </strong><a href="https://github.com/gojuukaze/DeerU">DeerU</a>. The source code is
                licensed
                <a href="https://github.com/gojuukaze/DeerU/blob/master/LICENSE">GPL V3</a>
            </p>
            {% include body_footer_end_template %}

        </div>
    </div>
</footer>